@import url("reset.css");
@import url("common.css");
@import url("font.css");
/*
      MAIN
*******************/
.pc-only {display:block;}
.m-only {display:none;}



/* intro */
.intro_wrap{background: #000; width: 100%; height: 100%; position: absolute; top: 0; left: 0; overflow: hidden;}
.intro_wrap .txt_box01{position: absolute; top: 100px; right: 100px; color: #fff; text-align: right;}
.intro_wrap .txt_box01 p{font-size: 29px; font-weight: 400; margin-bottom: 25px;}
.intro_wrap .txt_box01 h3:nth-of-type(1){font-size: 68px; font-weight: 700; margin-bottom: 5px;}
.intro_wrap .txt_box01 h3:nth-of-type(2){font-size: 50px; font-weight: 700;}
.intro_wrap .txt_box01 h3 span{font-size: 30px; font-weight: 400; display: inline-block; margin-left: 10px;}

.intro_wrap .center_box{position: absolute; top: 50%; left: 0; width: 100%; height: 83px; transform: translateY(-50%);}
.intro_wrap .center_box ul{display: grid; grid-template-columns: repeat(7, 1fr); position: relative; z-index: 1;}
.intro_wrap .center_box ul li{display: flex; flex-direction: column; align-items: center; justify-content: center; opacity: 0.4;}
.intro_wrap .center_box ul li.on{opacity: 1;}
.intro_wrap .center_box ul li p{color: #fff; font-size: 20px; font-weight: 500; margin-bottom: 4px;}
.intro_wrap .center_box .line_box{position: absolute; top: 46px; width: 100%; height: 1px;}
.intro_wrap .center_box .line_box .line{position: absolute; top: 0; width: 100%; height: 1px;}
.intro_wrap .center_box .line_box .line_back{background: #454545;}
.intro_wrap .center_box .line_box .line_front{background: #fff; width: 1%; z-index: 1; animation: line_front 5.5s both linear;}
@keyframes line_front {
      0%{width: 1%;}
      100%{width: 100%;}
}
.intro_wrap .center_box .icon_box{width: 35px; height: 23px; position: absolute; bottom: -7px; animation: icon_box 5.5s both linear;}
@keyframes icon_box {
      0%{left: 0;}
      100%{left: 100%;}
}

.intro_wrap .count_box{position: absolute; bottom: -75px; right: 100px; display: flex; align-items: center; opacity: 0.08;}
.intro_wrap .count_box h3{font-size: 500px; font-weight: 700; color: #fff;}
.intro_wrap .count_box span{display: block; font-size: 60px; font-weight: 400; color: #fff;}

@media screen and (max-width:900px) {
      .intro_wrap .txt_box01{left: 0; right: 0; text-align: center;}
      .intro_wrap .txt_box01 p{font-size: 18px; margin-bottom: 10px;}
      .intro_wrap .txt_box01 h3:nth-of-type(1){font-size: 40px; margin-bottom: 5px;}
      .intro_wrap .txt_box01 h3:nth-of-type(2){font-size: 29px;}
      .intro_wrap .txt_box01 h3 span{font-size: 14px; margin-left: 10px;}
      .intro_wrap .center_box{width: 113px; height: calc(100% - 240px); top: unset; bottom: 0; left: 100px; right: 0; margin: auto; transform: unset;}
      .intro_wrap .center_box ul{display: flex; flex-direction: column; justify-content: space-between; height: 100%; padding-bottom: 20px;}
      .intro_wrap .center_box ul li{flex-direction: row-reverse; align-items: center; gap: 8px; height: max-content;}
      .intro_wrap .center_box ul li p{font-size: 18px; margin-bottom: unset;}
      .intro_wrap .center_box ul li .icon img{width: 8px;}
      .intro_wrap .center_box .line_box{width: 1px; height: 100%; top: 0;}
      .intro_wrap .center_box .line_box .line{width: 1px; height: 100%;}
      @keyframes line_front {
            0%{height: 1%;}
            100%{height: 100%;}
      }
      .intro_wrap .center_box .icon_box{width: 30px; height: 20px; bottom: unset; top: 0; left: -50px; transform: rotate(90deg) scaleY(-1) translateX(10px);}
      .intro_wrap .center_box .icon_box img{width: 100%;}
      @keyframes icon_box {
            0%{top: 0;}
            100%{top: 100%;}
      }
      .intro_wrap .count_box {bottom: 80px; left: 0; right: 0; align-items: center; justify-content: center;}
      .intro_wrap .count_box h3{font-size: 200px;}
}

/* main */
.main_wrap,
.main_container{width: 100%; height: 100%;}
section{width: 100%; height: 100dvh;}

/* scroll */
.scroll_inner{width: 100%; height: 3100dvh; min-height: 100dvh;}
.scroll_inner .scroll_section{width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 2;}
.scroll_inner .scroll_section section{width: 100%; height: 100dvh; position: fixed; top: 0; left: 0; overflow: hidden;}

/* section01 */
.section01{z-index: 2;}
.section01 .bg_wrap{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.section01 .bg_wrap .bg_top video{width: 100%;}
.section01 .bg_wrap .bg_bottom{position: absolute; bottom: 0; left: -1px;}
.section01 .bg_wrap .bg_bottom img{width: 100%; object-fit: cover;}
.section01 .logo_box{width: 133px; position: absolute; top: 23px; right: 0; left: 0; margin: auto;}
.section01 .txt_box{transform: translateX(-50%); position: absolute; top: 20%; left: 50%; text-align: center;}
.section01 .txt_box p{animation: sec01_txt 0.3s both ease-out;}
@keyframes sec01_txt{
      0%{transform: translateY(100px); opacity: 0;}
      100%{transform: translateY(0); opacity: 1;}
}
.section01 .txt_box p:nth-child(1){font-size: 50px; font-weight: 700; color: #000; animation-delay: 0.5s;}
.section01 .txt_box p:nth-child(2){font-size: 84px; font-weight: 100; color: #000; line-height: 100%; animation-delay: 0.6s;}
.section01 .txt_box p:nth-child(3){font-size: 65px; font-weight: 700; color: #fff; animation-delay: 0.7s;}
.section01 .scroll_box{transform: translateX(-50%); position: absolute; bottom: 100px; left: 50%; text-align: center; padding: 14.5px 40px; box-sizing: border-box; backdrop-filter: blur(4.5px); background: rgba(5, 5, 5, 0.4); border-radius: 60px; animation: sec01_scroll 1s 1s infinite alternate ease-in-out;}
@keyframes sec01_scroll {
      0%{opacity: 1; transform: translateX(-50%) translateY(0);}
      100%{opacity: 0.7; transform: translateX(-50%) translateY(10px);}
}

.section01 .scroll_box p{font-size: 18px; font-weight: 700; color: #fff;}

@media screen and (max-width:1470px) {
      .section01 .bg_wrap .bg_top video{width: unset;}
}
@media screen and (max-width:1143px){
      .section01 .txt_box{width: 100%; padding: 0 20px;}
      .section01 .txt_box p:nth-child(1){font-size: 40px;}
      .section01 .txt_box p:nth-child(2){font-size: 66px;}
      .section01 .txt_box p:nth-child(3){font-size: 40px;}
      .section01 .bg_wrap .bg_bottom{width: 2605px; left: 50%; transform: translateX(-50%); bottom: -200px;}
}
@media screen and (max-width:395px){
      .section01 .txt_box p{white-space: nowrap;}
      .section01 .txt_box p:nth-child(1){font-size: 30px;}
      .section01 .txt_box p:nth-child(2){font-size: 56px;}
      .section01 .txt_box p:nth-child(3){font-size: 30px;}
}

/* section02 */
.section02{z-index: 3;}
.section02 .bg_box{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
.section02 .bg_box .bg{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff;}
.section02 .bg_box .bg_t{clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);} /*0 0, 100% 0, 100% 10%, 0 10%*/
.section02 .bg_box .bg_b{clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);} /*0 90%, 100% 90%, 100% 100%, 0 100%*/
.section02 .bg_box .bg_l{clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);} /*0 0, 10% 0, 10% 100%, 0 100%*/
.section02 .bg_box .bg_r{clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);} /*90% 0, 100% 0, 100% 100%, 90% 100%*/
.section02 .bg_image{position: absolute; top: 0; left: 0; width: 100%; height: 4775px; opacity: 0; z-index: 2;}
.section02 .bg_image .images{position: absolute; bottom: 0%; left: 0; transform: translate(0px, -50%); width: 100%; height: 4775px; background: url('../images/main/sec02.jpg') center bottom / cover no-repeat;}
.section02 .bg_image .hidden{position: absolute; top: 0; left: 0; width: 100%; height: 20%; background: linear-gradient(#fff 20%, transparent 100%); z-index: 1;}
.section02 .txt_box{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 3; opacity: 0;}
.section02 .txt_box p{font-size: 28px; font-weight: 300; color: #00173E; margin-bottom: 30px;}
.section02 .txt_box p span{font-size: 28px; font-weight: 700; color: #00173E;}
.section02 .main_v_txt{position: absolute; top: 400px; left: 50%; transform: translate(-50%, -50%); text-align: center; z-index: 3;}
.section02 .main_v_txt p{font-size: 38px; font-weight: 400; color: #00173E; margin-bottom: 12px; line-height: 100%; opacity: 0;}
.section02 .main_v_txt img{display: block; opacity: 0;}
@media screen and (max-width: 825px) {
      .section02 .bg_image{height: 1592px;}
      .section02 .bg_image .images{height: 1592px; transform: translate(0px, -5%); background: url('../images/main/m_sec02.jpg') center bottom / cover no-repeat;}
      .section02 .main_v_txt p{font-size: 26px;}
      .section02 .main_v_txt img{width: 345px;}
}
@media screen and (max-width:395px){
      .section02 .main_v_txt p{font-size: 20px;}
      .section02 .main_v_txt img{width: 300px;}
}

/* section03 */
.section03{background: #fff; transform: translateY(100%); z-index: 4;}
.section03 .bg_clip_box{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.section03 .bg_clip_box > div{will-change: clip-path; backface-visibility: hidden; transform: translateZ(0);}
.section03 .bg_clip_box .bg_clip{width: 100%; height: 100%; position: absolute; background: #00173E; z-index: 1;}
.section03 .bg_clip_box .bg_clip_t{clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);} /*0 0, 100% 0, 100% 10%, 0 10%*/
.section03 .bg_clip_box .bg_clip_b{clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);} /*0 90%, 100% 90%, 100% 100%, 0 100%*/
.section03 .bg_clip_box .bg_clip_l{clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%);} /*0% 0%, 55% 0%, 35% 100%, 0% 100%*/
.section03 .bg_clip_box .bg_clip_r{clip-path: polygon(100% 0px, 59% 0%, 40% 100%, 100% 100%);} /*100% 0, 65% 0%, 45% 100%, 100% 100%*/
.section03 .bg{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.section03 .bg video{object-fit: cover; width: 100%; height: 100%;}
.section03 .inner{width: 100%; height: 100%; position: absolute; z-index: 2;}
.section03 .inner .txt_box{display: flex; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.section03 .inner .txt_box div{display: flex; overflow: hidden; height: 80px;}
.section03 .inner .txt_box div.txt01{margin-right: 30px;}
.section03 .inner .txt_box span{will-change: transform, opacity;}
.section03 .inner .txt_box span.ft{display: block; position: relative;}
.section03 .inner .txt_box span.bk{display: block; color: #fff; font-size: 80px; font-weight: 700; transform: translateY(80px); opacity: 0; line-height: 100%; width: fit-content;}
.section03 .inner .txt_box02{flex-direction: column; left: 73%; top: 53%;}
.section03 .inner .txt_box03{flex-direction: column; left: 75%; top: 53%;}
.section03 .inner .txt_box04{flex-direction: column; left: 75%; top: 53%;}

@media screen and (max-width: 1620px) {
      .section03 .inner .txt_box span.bk{font-size: 4vw;}
}
@media screen and (max-width: 900px){
      .section03 .inner .txt_box{flex-direction: column; align-items: center;}
      .section03 .inner .txt_box div{height: 45px;}
      .section03 .inner .txt_box span.bk{font-size: 45px;}
      .section03 .inner .txt_box div.txt01{margin: 0;}
      .section03 .inner .txt_box div:first-child{margin-bottom: 10px;}
      .section03 .bg_clip_box .bg_clip_t{clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);}
      .section03 .bg_clip_box .bg_clip_b{clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);}
      .section03 .bg_clip_box .bg_clip_l{clip-path: polygon(0% 0%, 10% 0%, 10% 100%, 0% 100%);}
      .section03 .bg_clip_box .bg_clip_r{clip-path: polygon(100% 0px, 90% 0%, 90% 100%, 100% 100%);}
      .section03 .inner .txt_box02 {left: 50%; top: 50%;}
      .section03 .inner .txt_box03 {left: 50%; top: 50%;}
      .section03 .inner .txt_box04 {left: 50%; top: 50%;}
}

/* section04 */
.section04{transform: translateX(100%); z-index: 5;}
.section04 .section04_end{width: 100%; height: 100%;}
.section04 .txt_inner{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.section04 .txt_inner .bg{position: absolute; width: 100%; height: 100%; opacity: 0; z-index: 0;}
.section04 .txt_inner .bg img{width: 100%; height: 100%; object-fit: cover;}
.section04 .txt_inner03 .bg img{position: absolute; top: 0; left: 0;}
.section04 .txt_inner03 .bg img:first-child{opacity: 1;}
.section04 .txt_inner03 .bg img:last-child{opacity: 0;}
.section04 .txt_inner ul{width: 100%; height: 70%;}
.section04 .txt_inner ul li{width: 100%; height: 33.333%; display: flex; align-items: flex-end; position: relative; overflow: hidden;}
.section04 .txt_inner ul li.top_line{width: 100%; height: 33%;}
.section04 .txt_inner ul li .front{width: 100%; display: flex; justify-content: space-between; align-items: flex-end; padding: 0 100px; transform: translateY(110%); position: relative; z-index: 2;}
.section04 .txt_inner ul li .front .mo{display: none;}
.section04 .txt_inner ul li .front p{font-size: 150px; color: #fff; font-weight: 500; line-height: 100%;}
.section04 .txt_inner ul li .back{position: absolute; width: 100%; height: 100%; z-index: 1;}
.section04 .txt_inner ul li .line{position: absolute; width: 100%; height: 1px; background: #fff; z-index: 2;}
.section04 .txt_inner ul li .line{bottom: 0px;}
.section04 .txt_inner ul li.li1 .line:nth-of-type(1){top: 0px;}
.section04 .txt_inner ul li.li1 .front p{line-height: 108px;}
.section04 .txt_inner ul li.li2 .front p{line-height: 133px;}
.section04 .txt_inner ul li.li3 .front p{line-height: 134px;}
.section04 .txt_inner ul li .back{background: #00173E; transform: translateY(101%);}
.section04 .txt_inner .top_back{width: 100%; height: 90px; position: relative; top: 0; left: 0; overflow: hidden; z-index: 1;}
.section04 .txt_inner .top_back .back{position: absolute; width: 100%; height: 100%; background: #00173E; transform: translateY(101%);}
.section04 .txt_inner .bottom_back{width: 100%; height: 30%; position: relative; bottom: 0; left: 0; overflow: hidden; z-index: 1;}
.section04 .txt_inner .bottom_back .back{position: absolute; width: 100%; height: 100%; background: #00173E; transform: translateY(101%);}
.section04 .txt_end{position: absolute; top: 70%; left: 50%; transform: translate(-50%, -50%); opacity: 0;}
.section04 .txt_end .mo{display: none;}
.section04 .txt_end p{font-size: 70px; color: #111; font-weight: 100; line-height: 100%; margin-bottom: 5px;}
.section04 .txt_end h3{font-size: 72px; color: #111; font-weight: 700; line-height: 100%;}

@media screen and (max-width: 1870px) {
      .section04 .txt_inner ul li .front p{font-size: 7.5vw;}
      .section04 .txt_end p{font-size: 3.7vw;}
      .section04 .txt_end h3{font-size: 3.7vw;}
}
@media screen and (max-width: 1200px){
      .section04 .txt_inner ul li .front p{font-size: 6.5vw;}
      .section04 .txt_end p{font-size: 2.7vw;}
      .section04 .txt_end h3{font-size: 2.7vw;}
}
@media screen and (max-width: 900px){
      .section04 .txt_inner{left: 0; right: 0; margin: auto;}
      .section04 .txt_inner ul li .front {justify-content: space-between; align-items: flex-start; padding: 0 30px; transform: translateY(110%); flex-direction: column;}
      .section04 .txt_inner ul li .front .mo{display: block;}
      .section04 .txt_inner ul li .front p{font-size: 50px; line-height: 100% !important;}
      .section04 .txt_inner ul li .front p:first-child{margin-bottom: 20px;}
      .section04 .txt_inner ul li.li2 .front{align-items: flex-end;}
      .section04 .txt_inner ul li.li2 .front p{text-align: right; margin: 0;}
      .section04 .txt_inner ul li.li2 .front p span:first-child{margin-bottom: 20px;}
      .section04 .txt_end{width: 100%; text-align: center;}
      .section04 .txt_end .mo{display: block;}
      .section04 .txt_end p{font-size: 36px; margin-bottom: 10px;}
      .section04 .txt_end h3{font-size: 40px;}
}
@media screen and (max-width: 420px){
      .section04 .txt_inner ul li .front p{font-size: 10vw;}
}

/* section05 */
.section05{transform: translateY(100%); background: #00173E; z-index: 6;}
.section05 .txt_box{position: absolute; bottom: 120px; left: 100px; transform-origin: bottom left;}
.section05 .txt_box p{font-size: 70px; font-weight: 700; color: #fff; margin-bottom: 25px; line-height: 100%;}
.section05 .txt_box h3{font-size: 116px; font-weight: 100; color: #fff; line-height: 100%;}
.section05 .txt_box h3:last-child{font-weight: 700; margin-top: 5px;}
.section05 .txt_box h3 .mo{display: none;}
.section05 .intrior_wrap{position: absolute; top: 90px; transform: translateX(85%);}
.section05 .intrior_wrap .intrior{display: flex; align-items: flex-start;}
.section05 .intrior_wrap .intrior li{margin-right: 30px;}
.section05 .intrior_wrap .intrior li a{display: block; position: relative;}
.section05 .intrior_wrap .intrior li a img{display: block;}
.section05 .intrior_wrap .intrior li:nth-child(1) a img{width: 464px;}
.section05 .intrior_wrap .intrior li:nth-child(2) a img{width: 464px;}
.section05 .intrior_wrap .intrior li:nth-child(3) a img{width: 209px;}
.section05 .intrior_wrap .intrior li:nth-child(4) a img{width: 464px;}
.section05 .intrior_wrap .intrior li:nth-child(5) a img{width: 464px;}
.section05 .intrior_wrap .intrior li:nth-child(6) a img{width: 209px;}
.section05 .intrior_wrap .intrior li a .cursor{position: fixed; top: 0; left: 0; transform: translate(-50%, -50%); pointer-events: none; display: none; z-index: 1;}
.section05 .intrior_wrap .intrior li a .cursor .cursor_trace{width: 130px; height: 130px; backdrop-filter: blur(8px); background: rgba(255,255,255,0.2); border-radius: 130px; display: flex; align-items: center; justify-content: center;}
.section05 .intrior_wrap .intrior li a .cursor span{font-size: 18px; font-weight: 700; color: #fff;}
.section05 .intrior_wrap .intrior li a .cursor .mo_type{display: none;}
.section05 .type{position: absolute; right: 100px; bottom: 30%; width: 400px; height: 260px; display: flex; justify-content: flex-end;}
.section05 .type li{font-size: 170px; font-weight: 700; color: #fff; position: absolute; opacity: 0; transition: all 0.3s;}
.section05 .type li.on{opacity: 0.1;}

@media screen and (max-width: 1870px) {
      .section05 .txt_box h3{font-size: 6vw;}
}
@media screen and (max-height :900px){
      .section05 .txt_box{bottom: 70px;}
      .section05 .txt_box p{font-size: 60px;}
      .section05 .txt_box h3{font-size: 4vw;}
}
@media screen and (max-width :900px) {
      .section05 .txt_box {bottom: 120px; left: 30px;}
      .section05 .txt_box p{font-size: 16px;}
      .section05 .txt_box h3{font-size: 40px;}
      .section05 .txt_box h3:nth-of-type(1){margin-bottom: 15px;}
      .section05 .txt_box h3 .mo{display: block; margin-bottom: 10px;}
      .section05 .intrior_wrap .intrior li:nth-child(1) a img{width: calc(928px - 100px);}
      .section05 .intrior_wrap .intrior li:nth-child(2) a img{width: calc(928px - 100px);}
      .section05 .intrior_wrap .intrior li:nth-child(3) a img{width: calc(418px - 43px);}
      .section05 .intrior_wrap .intrior li:nth-child(4) a img{width: calc(928px - 100px);}
      .section05 .intrior_wrap .intrior li:nth-child(5) a img{width: calc(928px - 100px);}
      .section05 .intrior_wrap .intrior li:nth-child(6) a img{width: calc(418px - 43px);}
      .section05 .intrior_wrap .intrior li a .cursor{display: block; left: 50%; top: 50%; position: absolute; opacity: 1;}
      .section05 .intrior_wrap .intrior li a .cursor .mo_type{font-size: 100px; font-weight: 700; color: #fff; opacity: 0.1; position: absolute; bottom: -29vh; transition: all 0.3s; display: block;}
      .section05 .intrior_wrap .intrior li a .cursor .mo_type01{right: -350px;}
      .section05 .intrior_wrap .intrior li a .cursor .mo_type02{right: -135px;}
      .section05 .type {display: none;}
}
@media screen and (max-height :1000px) and (max-width :900px){
      .section05 .intrior_wrap .intrior li:nth-child(1) a img{width: calc(928px - 500px);}
      .section05 .intrior_wrap .intrior li:nth-child(2) a img{width: calc(928px - 500px);}
      .section05 .intrior_wrap .intrior li:nth-child(3) a img{width: calc(418px - 225px);}
      .section05 .intrior_wrap .intrior li:nth-child(4) a img{width: calc(928px - 500px);}
      .section05 .intrior_wrap .intrior li:nth-child(5) a img{width: calc(928px - 500px);}
      .section05 .intrior_wrap .intrior li:nth-child(6) a img{width: calc(418px - 225px);}
      .section05 .intrior_wrap .intrior li a .cursor span{font-size: 14px;}
      .section05 .intrior_wrap .intrior li a .cursor .cursor_trace{width: 100px; height: 100px; border-radius: 100px;}
      .section05 .intrior_wrap .intrior li a .cursor .mo_type{font-size: 60px; bottom: -150px;}
      .section05 .intrior_wrap .intrior li a .cursor .mo_type01 {right: -145px;}
      .section05 .intrior_wrap .intrior li a .cursor .mo_type02 {right: -40px;}
}
@media screen and (max-height :780px) and (max-width :900px){
      .section05 .txt_box{bottom: 60px;}
      .section05 .txt_box h3{font-size: 30px;}
}

/* section06 */
.section06{transform: translateX(100%); background: #fff; z-index: 7;}
.section06 .txt_wrap{position: absolute; top: 50%; left: 25%; transform: translate(-50%, -50%);}
.section06 .txt_wrap ul{position: relative; width: 640px; height: 420px;}
.section06 .txt_wrap ul li{position: absolute; top: 0; left: 0; opacity: 0;}
.section06 .txt_wrap ul li .txt_box .txt{margin-bottom: 140px;}
.section06 .txt_wrap ul li .txt_box .txt p:nth-of-type(1){font-size: 20px; font-weight: 700; color: #00173E; padding-bottom: 5px; margin-bottom: 40px; position: relative; display: inline-block;}
.section06 .txt_wrap ul li .txt_box .txt p:nth-of-type(1)::after{content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #00173E;}
.section06 .txt_wrap ul li .txt_box .txt h3:nth-of-type(1){font-size: 60px; font-weight: 100; color: #111; margin-bottom: 5px;}
.section06 .txt_wrap ul li .txt_box .txt h3:nth-of-type(2){font-size: 70px; font-weight: 700; color: #111; margin-bottom: 40px;}
.section06 .txt_wrap ul li .txt_box .txt p:nth-of-type(2){font-size: 24px; font-weight: 400; color: #666666;}
.section06 .txt_wrap ul li .txt_box .num{display: flex; align-items: center; gap: 5px;}
.section06 .txt_wrap ul li .txt_box .num p{color: #000; font-size: 16px; font-weight: 400;}
.section06 .txt_wrap ul li .txt_box .num p:last-child{color: #888888;}
.section06 .txt_wrap ul li .txt_box .num span{display: block; width: 40px; height: 1px; background: #d2d2d2; position: relative; top: -1px;}
.section06 .img_wrap{position: absolute; top: 0; right: 0; width: 53%; height: 100%;}
.section06 .img_wrap ul{width: 100%; height: 100%;}
.section06 .img_wrap ul li{display: flex; justify-content: space-between; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.section06 .img_wrap ul li:nth-child(2n) .vd_box{margin-top: auto; margin-bottom: unset; transform: translateY(100%);}
.section06 .img_wrap ul li .vd_box{width: 300px; height: 70%; overflow: hidden; margin-bottom: auto; transform: translateY(-100%);}
.section06 .img_wrap ul li .vd_box video{width: 1920px; position: relative; left: 50%; transform: translateX(-50%);}
.section06 .img_wrap ul li .img_box{width: 730px; height: 70%; overflow: hidden; margin-top: auto; transform: translateY(100%);}
.section06 .img_wrap ul li:nth-child(2n) .img_box{margin-bottom: auto; margin-top: unset; transform: translateY(-100%);}
.section06 .img_wrap ul li .img_box img{width: 1820px; animation: sec06_imgBox 60s infinite alternate linear;}
@keyframes sec06_imgBox{
      0%{transform: translateX(0);}
      100%{transform: translateX(-50%);}
}

@media screen and (max-width: 1950px) {
      .section06 .img_wrap ul li .img_box{width: 60%;}
}
@media screen and (max-width: 1470px) {
      .section06 .img_wrap ul li .vd_box{width: 31%;}
      .section06 .txt_wrap ul li .txt_box .txt h3:nth-of-type(1){font-size: 4vw;}
      .section06 .txt_wrap ul li .txt_box .txt h3:nth-of-type(2){font-size: 4.5vw;}
}
@media screen and (max-width: 1300px){
      .section06 .txt_wrap{left: 35%;}
      .section06 .txt_wrap ul li .txt_box .txt h3:nth-of-type(1){font-size: 3vw;}
      .section06 .txt_wrap ul li .txt_box .txt h3:nth-of-type(2){font-size: 3.5vw;}
      .section06 .txt_wrap ul li .txt_box .txt p:nth-of-type(2){font-size: 1.5vw;}
}
@media screen and (max-width: 920px){
      .section06 .img_wrap {top: -100px; right: 0; left: 0; margin: auto; width: 50%; height: 65%;}
      .section06 .img_wrap ul li .vd_box{transform: translateY(-150%); width: 30%; height: 80%;}
      .section06 .img_wrap ul li .vd_box .vd_end{position: relative; width: 100%; height: 100%; overflow: hidden;}
      .section06 .img_wrap ul li:nth-child(2n) .vd_box{transform: translateY(-150%); height: 70%;}
      .section06 .img_wrap ul li .img_box{transform: translateY(-150%); position: relative;}
      .section06 .img_wrap ul li:nth-child(2n) .img_box{height: 85%;}
      .section06 .img_wrap ul li .img_box .img_end{position: relative; width: 100%; height: 100%; overflow: hidden;}
      .section06 .img_wrap ul li .img_box img{position: absolute; top: -50%; width: 1500px;}
      .section06 .img_wrap ul li .vd_box video{width: 1000px;}
      .section06 .txt_wrap{left: 30px; top: unset; bottom: 80px; transform: unset;}
      .section06 .txt_wrap ul {width: 340px; height: 250px;}
      .section06 .txt_wrap ul li .txt_box .txt{margin-bottom: 60px;}
      .section06 .txt_wrap ul li .txt_box .txt p:nth-of-type(1){margin-bottom: 30px; font-size: 16px;}
      .section06 .txt_wrap ul li .txt_box .txt h3:nth-of-type(1){font-size: 34px;}
      .section06 .txt_wrap ul li .txt_box .txt h3:nth-of-type(2){font-size: 34px; margin-bottom: 30px;}
      .section06 .txt_wrap ul li .txt_box .txt p:nth-of-type(2){font-size: 16px;}
}
@media screen and (max-width: 920px) and (max-height :670px){
      .section06 .txt_wrap{bottom: 25px;}
}
@media screen and (max-width: 600px){
      .section06 .img_wrap{width: 100%;}
      .section06 .img_wrap ul li .vd_box{width: 35%; padding-left: 30px;}
}

/* section07 */
.section07{transform: translateX(100%); background: #00173E; z-index: 8;}
.section07 .txt_box{position: absolute; top: 50%; left: 25%; transform: translate(-50%, -50%);}
.section07 .txt_box h3:nth-of-type(1){font-size: 70px; font-weight: 100; color: #fff; margin-bottom: 5px;}
.section07 .txt_box h3:nth-of-type(2){font-size: 70px; font-weight: 700; color: #fff; margin-bottom: 100px;}
.section07 .txt_box h3 .mo{display: none;}
.section07 .txt_box .logo{transform: translateX(-65px);}
.section07 .vd_box{position: absolute; right: 0; bottom: 0; width: 50%; height: 100%; transform: translate(40%, 60%);}
.section07 .vd_box .vd_end{width: 100%; height: 100%;}
.section07 .vd_box video{width: 100%; height: 100%; object-fit: cover; display: block;}
@media screen and (max-width: 1400px) {
      .section07 .txt_box h3{font-size: 4.5vw !important;}
}
@media screen and (max-width: 700px){
      .section07 .txt_box {top: 120px; left: 30px; transform: unset;}
      .section07 .txt_box h3{font-size: 40px !important;}
      .section07 .txt_box h3:nth-of-type(1){margin-bottom: 10px;}
      .section07 .txt_box h3 .mo{display: block; margin-bottom: 5px;}
      .section07 .txt_box .logo {transform: translateX(-30px); width: 190px;}
      .section07 .txt_box .logo img{width: 100%;}
      .section07 .vd_box {width: 60%; height: 25%; transform: translate(0%, 0%);}
}

/* section08 */
.section08{transform: translateY(100%); background: #fff; z-index: 9;}
.section08 .txt_box{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: column; align-items: center;}
.section08 .txt_box p{font-size: 20px; color: #111; font-weight: 700; padding-bottom: 5px; position: relative; margin-bottom: 80px; display: block;}
.section08 .txt_box p::after{content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #111;}
.section08 .txt_box h3:nth-of-type(1){font-size: 65px; color: #111; font-weight: 100;}
.section08 .txt_box h3:nth-of-type(2){font-size: 70px; color: #111; font-weight: 700; margin-bottom: 80px;}
.section08 .txt_box h3 .mo{display: none;}
.section08 .txt_box a{display: block; color: #fff; font-size: 18px; font-weight: 700; padding: 14.5px 40px; border-radius: 60px; box-sizing: border-box; background: rgba(5, 5, 5, 0.3); backdrop-filter: blur(4.5px); transition: all 0.3s;}
.section08 .txt_box a:hover{background: rgba(5, 5, 5, 1);}
.section08 .unit_wrap{animation: sec08_unit 10s infinite linear; background: url('../images/main/sec08_unit.jpg') center center; background-size: 1720px 1275px; background-repeat: repeat-y; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
@keyframes sec08_unit{
      0%{background-position-y: 0;}
      100%{background-position-y: -1275px;}
}

@media screen and (max-width: 1520px) {
      .section08 .txt_box h3:nth-of-type(1){font-size: 4vw;}
      .section08 .txt_box h3:nth-of-type(2){font-size: 4.5vw;}
      .section08 .unit_wrap{background-size: 100% auto; animation-duration: 30s;}
      @keyframes sec08_unit{
            0%{background-position-y: 0;}
            100%{background-position-y: -675%;}
      }
}
@media screen and (max-width: 1300px){
      @keyframes sec08_unit{
            0%{background-position-y: 0;}
            100%{background-position-y: -405%;}
      }
}
@media screen and (max-width: 1200px){
      .section08 .unit_wrap{animation-duration: 30s;}
}
@media screen and (max-width: 700px){
      .section08 .unit_wrap{animation-duration: 60s;}
      .section08 .txt_box{width: 100%; padding: 0 30px;}
      .section08 .txt_box p{font-size: 16px; margin-bottom: 40px;}
      .section08 .txt_box h3{text-align: center;}
      .section08 .txt_box h3:nth-of-type(1){font-size: 40px;}
      .section08 .txt_box h3:nth-of-type(2){font-size: 40px; margin-bottom: 40px;}
      .section08 .txt_box h3 .mo{display: block; margin-bottom: 5px;}
      .section08 .txt_box a{padding: 10px 25px; font-size: 16px;}
      .section08 .unit_wrap{animation: unset; background: unset; background-size: unset; background-repeat: unset; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
      .section08 .unit_wrap::after{
            content: ""; 
            position: absolute; 
            top: 25px; 
            left: 0; 
            width: 100%; 
            height: 200px; 
            background-image: url("../images/main/m_sec08_unit01.jpg"); 
            background-position: left center; 
            background-size: 705px 200px; 
            background-repeat: repeat-x;
            animation: m_sec08_unit01 30s infinite linear;
      }
      @keyframes m_sec08_unit01{
            0%{background-position-x: 0;}
            100%{background-position-x: 705px;}
      }
      .section08 .unit_wrap::before{
            content: ""; 
            position: absolute; 
            bottom: 25px; 
            left: 0; 
            width: 100%; 
            height: 211px; 
            background-image: url("../images/main/m_sec08_unit02.jpg"); 
            background-position: right center; 
            background-size: 781px 211px; 
            background-repeat: repeat-x;
            animation: m_sec08_unit02 30s infinite linear;
      }
      @keyframes m_sec08_unit02{
            0%{background-position-x: 0;}
            100%{background-position-x: -781px;}
      }
}

/* section09 */
.section09{transform: translateY(100%); background: #fff; z-index: 10;}
.section09 .section_end{position: absolute; top: 0; left: 0; width: 100%; height: 100%; transform: translateY(0%); border-bottom: 0 solid #fff;}
.section09 .txt_box{position: absolute; left: 100px; top: 50%; transform: translateY(-50%); display: flex; flex-direction: column; align-items: flex-start;}
.section09 .txt_box p:nth-of-type(1){font-size: 20px; color: #111; font-weight: 700; padding-bottom: 5px; position: relative; margin-bottom: 100px; display: block;}
.section09 .txt_box p:nth-of-type(1)::after{content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 1px; background: #111;}
.section09 .txt_box p:nth-of-type(2){font-size: 24px; color: #666; font-weight: 400; margin-bottom: 21vh;}
.section09 .txt_box p:nth-of-type(2) .mo{display: none;}
.section09 .txt_box h3{font-size: 70px; color: #111; font-weight: 700; margin-bottom: 70px;}
.section09 .txt_box .link_box{display: flex; align-items: center; gap: 40px;}
.section09 .txt_box .link_box a{font-size: 16px; color: #111; font-weight: 700; padding-bottom: 5px; position: relative; display: flex; align-items: center; gap: 40px;}
.section09 .txt_box .link_box a::after{content: ""; position: absolute; bottom: 0; left: 0; width: 0%; height: 1px; background: #111; transition: all 0.3s;}
.section09 .txt_box .link_box a:hover::after{width: 100%;}
.section09 .txt_box .link_box a img{display: block;}
.section09 .vd_box{position: absolute; right: 0; bottom: 0; width: 100%; max-width: 1095px; height: 650px;}
.section09 .vd_box video{width: 100%; height: 100%; object-fit: cover;}

@media screen and (max-width: 1735px) {
      .section09 .vd_box{width: 55%;}
}
@media screen and (max-width: 1420px) {
      .section09 .txt_box h3{font-size: 4.5vw;}
      .section09 .txt_box p:nth-of-type(2){font-size: 1.5vw;}
}
@media screen and (max-width: 1110px){
      .section09 .txt_box h3 {font-size: 3.5vw;}
      .section09 .txt_box p:nth-of-type(2){font-size: 1.3vw;}
      .section09 .txt_box .link_box {flex-direction: column; align-items: flex-start; gap: 10px;}
}
@media screen and (max-width: 900px){
      .section09 .txt_box {left: 30px; top: 80px; transform: translateY(0%);}
      .section09 .txt_box p:nth-of-type(1){font-size: 16px; margin-bottom: 70px;}
      .section09 .txt_box p:nth-of-type(2){font-size: 20px; margin-bottom: 30px; line-height: 26px;}
      .section09 .txt_box p:nth-of-type(2) .mo{display: block;}
      .section09 .txt_box h3{font-size: 40px; line-height: 50px; margin-bottom: 65px;}
      .section09 .txt_box .link_box{gap: 20px;}
      .section09 .txt_box .link_box a{width: 180px; justify-content: space-between; font-weight: 400;}
      .section09 .txt_box .link_box a::after{width: 100%;}
      .section09 .vd_box{width: 100%; height: 223px;}
}
@media screen and (max-width: 900px) and (max-height :780px){
      .section09 .txt_box p:nth-of-type(1){margin-bottom: 15px;}
      .section09 .txt_box p:nth-of-type(2){margin-bottom: 15px;}
      .section09 .txt_box h3{margin-bottom: 15px;}
}




